Source: kali-defaults
Section: utils
Priority: optional
Maintainer: Kali Developers <devel@kali.org>
Uploaders: Raphaël Hertzog <hertzog@debian.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.1
Homepage: https://www.kali.org
Vcs-Git: https://gitlab.com/kalilinux/packages/kali-defaults.git
Vcs-Browser: https://gitlab.com/kalilinux/packages/kali-defaults

Package: kali-defaults
Architecture: all
Depends: ${misc:Depends}, libglib2.0-bin
Description: Kali default settings
 This package implements various default settings
 within Kali.
