Source: kali-defaults
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Uploaders: Raphaël Hertzog <hertzog@debian.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.0
Homepage: http://www.kali.org
Vcs-Git: git://git.kali.org/packages/kali-defaults.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/kali-defaults.git;a=summary

Package: kali-defaults
Architecture: all
Depends: ${misc:Depends}, libglib2.0-bin, dconf-cli, gnome-brave-icon-theme
Description: Kali default settings
 This package implements various default settings
 within Kali.
