.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.hidden { display:none;}

.offsec-download-box { border:1px solid #ccc; padding:0; margin:0; padding:10px; width:100%; background:#f7f7f7;}
.offsec-download-box h4 { margin:0 !important; padding:0 !important;}
.offsec-download-box a.read_more { }

.offsec-download-box .download-info { float:left;}
.offsec-download-box .download-form { float:right; width:55%;}

.offsec-download-box .download-form { background:#f1f1f1; padding:5px 10px; border:1px solid #ccc;}
.offsec-download-box .download-form p { margin:0 !important; padding:0 !important;} 
.offsec-download-box .download-form ul { list-style-type:none !important; width:100%; }
.offsec-download-box .download-form ul li { margin:3px 0;}
.offsec-download-box .download-form ul li label { float:left; width:150px;}
.offsec-download-box .download-form ul li.button { text-align:center; margin-top:20px;}
.offsec-download-box .download-form ul li.no-thanks-just-download { text-align:center; font-size:0.8em; margin-top:20px;}

#offsec-download-register ul { list-style-type:none !important; width:100%; }
#offsec-download-register ul li {  margin:3px 0; }
#offsec-download-register ul li label { float:left; width:150px;}